<h2 class="section-title">{{ .titles.about }}</h2>

<p itemprop="description">
  Welcome to the 2018 edition of the Data Pioneers 2018 conference! ...
</p>

<p>
  <b>Talks:</b> Data Pioneers 2018 will provide high-profile talks from
  experienced regional data scientists. The topics will cover machine learning,
  data science, and artificial intelligence in industrial and business relevant
  applications. The final programm will be available in August.
</p>

<p>
  <b>Program:</b>
  The conference language will be English.
</p>

<p>
  <b>Registration:</b>
  <a href="http://eepurl.com/dyF7U9" target="_blank">a</a>
</p>
