<h2 class="section-title">{{ .titles.about }}</h2>

<p itemprop="description">
  Welcome to the first edition of the Data Pioneers conference! <i>[1k word summary]</i>
</p>

<p>
  <b>Talks:</b> Data Pioneers 2018 provides high-profile talks from experienced
  regional data scientists. The topics cover data science, machine learning,
  and artificial intelligence in industrial and business relevant
  settings and applications. The final programm is available in September 2018.
</p>

<p>
  <b>Program:</b> The conference is held on November 8th 2018, 9-17h. The program
  includes exciting key note presentations, in-depth data science talks, and
  lunch and coffee breaks for networking and inspiring exchanges on how to
  extract knowledge from data. The conference language is English.
</p>

<p>
  <b>Registration:</b> Registration opens in August 2018. The regular conference
  ticket is 75€, the student ticket is 25€. The tickets include entrance
  to the conference, lunch, and coffee breaks.

  Leave your contact details
  <a href="http://eepurl.com/dyF7U9" target="_blank">here</a> to get updates!
</p>
