<h2 class="section-title">{{ .titles.about }}</h2>

<p itemprop="description">
  Welcome to the first edition of the Data Pioneers conference!
</p>
<p>
  Extracting knowledge from data and using it to build data products as well as
  optimize industrial processes and business becomes more and more present and
  is inevitable to ensure competitiveness. The Data Pioneers 2018 conference
  provides a regional platform for data scientists to exchange experiences on how
  to successfully use data science, machine learning and artificial intelligence
  in industry and business. The conference offers a day of inspiring talks and the
  possibility to network with like-minded data scientists, data engineers and
  team leaders.
</p>
<p>
  Data Pioneers is created because we truly believe that the Allgäu and the Vierländerregion
  Bodensee with the region around the Lake of Constance, Vorarlberg,
  St. Galler Rheintal, and Liechtenstein
  is an exciting area with established enterprises as well as aspiring startups
  working in a data-driven way or on data products. Our motivation
  is to create a stimulating event with real-world applications of predictive
  analytics, examples of crunching data on an industrial scale, and exchange
  on establishing a data-driven culture. Exciting talks should spark the imagination,
  the open culture should lead to discussions, and the mindset of the conference
  should make data pioneers ready to drive future innovations.
</p>

<p>
  <b>Talks:</b> Data Pioneers 2018 provides high-profile talks from experienced
  regional data scientists. The topics cover data science, machine learning,
  and artificial intelligence in industrial and business relevant
  settings and applications. The final list of speakers is available in
  the speakers section.
</p>

<p>
  <b>Program:</b> The conference is held on November 8th 2018, 9-17h. The program
  includes exciting key note presentations, in-depth data science talks, and
  lunch and coffee breaks for networking and inspiring exchanges on how to
  extract knowledge from data. The conference language is English.
</p>

<p>
  <b>Registration:</b> The regular conference ticket is 75€, the student ticket
  is 25€, The ticket includes entrance to the conference,
  lunch and coffee breaks. Registration is open,
  <a href="http://datapioneers2018.eventbrite.de/" target="_blank">
    tickets can be purchased here</a>.
<p>

<p>
  Stay in touch and
  <a href="http://eepurl.com/dyF7U9" target="_blank">leave your contact details here</a>
  to get regular updates!
</p>
