<h2 class="section-title">{{ .titles.location }}</h2>

<p itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
  <span itemprop="streetAddress"><a href="{{ .venue.href }}">{{ .venue.text }}</a>, </span>
  <span itemprop="streetAddress">{{ .address }}, </span>
  <span itemprop="addressLocality">{{ .city }}</span>
</p>

<!--<div id="map-canvas" class="location-area" data-address="{{ .address }}, {{ .city }} - {{ .state }}"></div>-->

<a href="https://www.google.com/maps/place/Allg%C3%A4u+Digital+-+Digitales+Zentrum+Schwaben/@47.7185363,10.320164,17z/data=!3m1!4b1!4m5!3m4!1s0x479c791492ef813b:0xedc6c9986e1be699!8m2!3d47.7185363!4d10.3223527" target="_blank">
  <img src="/img/map.png" / width="100%">
</a>
